@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width: 768px) {
  .bloco-superior {
    text-align: center;
  }

  .bloco-superior .title-main {
    width: 250px;
    font-size: 25px;
  }

  .bloco-superior svg {
    width: 30px;
    height: 30px;
  }

  .text-instruction {
    font-size: 14px;
    width: 280px;
  }
  .errorAlert {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
  }
}

.errorAlert {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #f44336;
  color: white;
  padding: 16px;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-size: 16px;
  z-index: 1000;
  display: flex;
}

.closeButton {
  background: none;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin-left: 8px;
}

.sucessAlert {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #027702;
  color: white;
  padding: 16px;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-size: 16px;
  z-index: 1000;
  display: flex;
}
